<%- include('include/_header') %>
<section style="align-items: center;">
    <div class="container heading-container" >
        <div class="row">
            <div class="column">
                <h1>Accomodations</h1>
            </div>
        </div>
    
    </div> <div class="createnew-btn" >
        <div class="box-nav d-flex justify-between">
            <a href="/create-accomodation" class="border-shadow">
                <span class="text-gradient">Create New <i class="fa-solid fa-user"></i></span>
            </a>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <% if (message){ %>
                    <div class="alert alert-success alert-dismissible fade show alert-<%= message.type %>" role="alert">
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-lablel="close"></button>
                    
                <strong><%= message.message %></strong>
                </div> <% } %>
                    
                    
                 
                <div class="table-responsive table">

                    <% if (accomodation != '') { %>
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-primary">
                                    <th>ID</th>
                                    <th>Image</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Short Description</th>
                                    <th>Phone</th>
                                    <th>Location</th>
                                    <th>Price</th>
                                    <th>Availability Range</th>
                                    <th>Service Provider</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- for(var i = 0; i<users.length; i++) -->
                               <%  for(var i = 0; i<accomodation.length; i++){ %>
                                <tr>
                                    <td><%= i+1 %></td>
                                    <!-- '/uploads/' + accomodation[i].image %> -->
                                    
                                    <td>
                                        <% if (accomodation.image) { %>
                                            
                                            <img src="data:<%=accomodation[i].image.contentType %>;base64,<%= accomodation[i].image.data.toString('base64')%>" width="100" />
                                            <% } else { %>
                                            No Image
                                            <% } %>

                                            
                                            <!-- /<%= accomodation[i].id %> -->
                                    </td>
                                    <td><%= accomodation[i].title %></td>
                                    <td><%= accomodation[i].description %></td>
                                    <td><%= accomodation[i].otherdesc %></td>
                                    <td><%= accomodation[i].phone %></td>
                                    <td><%= accomodation[i].location %></td>
                                    <td><%= accomodation[i].price %></td>
                                    <td><%= accomodation[i].startDate %> + <%= accomodation[i].endDate %></td>
                                    <td><%= accomodation[i].serviceProvider %></td>
                                    <td>
                                        <form method="POST" action="/update-accomodation/<%= accomodation[i]._id%>?_method=UPDATE">
                                            <button type="submit"><i class="fas fa-edit fa-lg mx-1 btn"></i></button>
                                            
                                          </form>
                                        </td>
                        
                                        <td>
                                        <form method="POST" action="/delete-accomodation/<%= accomodation[i]._id %>?_method=DELETE">
                                            <button type="submit"> <i class="fa-sharp fa-solid fa-trash btn" style="color:red"></i></button>
                                           
                                          </form>
                                        
                                        </td>
                                </tr>
                               <% } %>
                            </tbody>
                        </table>
                    <% } else {%>
                        <h2 class="text-center text-secondary mt-3"> No services found</h2>

                        <% } %>
                    

                </div>
    
            </div>
        </div>
    </div>
</section>


<%- include('include/_footer') %> 