<%- include('include/_header') %>

<div class="container form-container">
    <div class="row">
        <div class="col-md-5 mx-auto mt-3">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">
                        Update Service <%= accomodation.title %>
                    </h3>
                </div>
                <div class="card-body  p-2">
                    <!-- route name -->
                    <form action="/update-accomodation/<%= accomodation._id %>" method="post" id="update-accomodation" enctype="multipart/form-data">

                        <div class="mb-2">
                            <label for="title">Title</label>
                            <input type="text" name='title' class="form-control form-control-sm" placeholder="Enter Title" value="<%= accomodation.title %>" required/>
                        </div>
                        <div class="mb-2">
                            <label for="description">Description</label>
                            <input type="text" name='description' class="form-control form-control-sm" placeholder="Enter Main Description"  value="<%= accomodation.description %>"  required/>
                        </div>
                        <div class="mb-2">
                            <label for="otherdesc">Other Description</label>
                            <input type="text" name='otherdesc' class="form-control form-control-sm" placeholder="Enter Other Description"  value="<%= accomodation.otherdesc %>" required/>
                        </div>
                        <div class="mb-2">
                            <label for="location">Location</label>
                            <input type="text" name='location' class="form-control form-control-sm" id="search_input" placeholder="Select Locaiton"  value="<%= accomodation.location %>" required/>
                        </div>
                    
                        <div class="mb-2">
                            <label for="price">Price</label>
                            <input type="text" name='price' class="form-control form-control-sm" placeholder="Enter Rate"  value="<%= accomodation.price %>" required/>
                        </div>
                        <div class="row" id="availabilty">
                            <div class="mb-2 col">
                                <label for="availability">Availability- From</label>
                                <input type="date" name='startDate' id="startDate" class="form-control form-control-sm" placeholder="Select date"  value="<%= accomodation.startDate %>" required/>
                            </div>
                            <div class="mb-2 col">
                                <label for="availability">To</label>
                                <input type="date" name='endDate' id="endDate" class="form-control form-control-sm" placeholder="Select date"  value="<%= accomodation.endDate %>" required/>
                            </div>
                        </div>
                        
                        <div class="mb-2">
                            <label for="serviceProvider">Service Provider</label>
                            <input type="text" name='serviceProvider' class="form-control form-control-sm" placeholder="Service Provider"  value="<%= accomodation.serviceProvider %>"  required/>
                        </div>
                        <div class="mb-2">
                            <label for="category">Category</label>
                            <input type="text" name='category' class="form-control form-control-sm" placeholder="Category"  value="<%= accomodation.category %>" required/>
                        </div>
                        <div class="mb-2">
                            <label for="phone">Phone</label>
                            <input type="text" name='phone' class="form-control form-control-sm" placeholder="Phone"  value="<%= accomodation.phone %>" required/>
                        </div>
                        <div class="mb-2">
                            <label for="image" class="form-lable">Select Image</label>
                            <input type="hiiden" name='old_image' id="image" class="form-control form-control-sm" value="<%= accomodation.image %>"  />
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="Submit" name="submit" value="Update" class="btn btn-success btn-md">
                        </div>

                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include('include/_footer') %> 